body {
    background-color: #000000;
    color: white;
    font-family: "Open Sans", sans-serif;
  }
  
  .bg-strive-video {
    background-color: #000000;
    background-image: -webkit-linear-gradient(
      top,
      #000000,
      rgba(0, 0, 0, 0)
    );
    background-image: -o-linear-gradient(
      top,
      #000000 0,
      rgba(0, 0, 0, 0) 100%
    );
    background-image: linear-gradient(180deg, #000000 0, rgba(0, 0, 0, 0.85));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF1B2530",endColorstr="#D91B2530",GradientType=0);
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
  
  .navbar-dark .navbar-nav .active > .nav-link {
    font-weight: 700;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .navbar-nav .nav-link {
    margin: 0 8px;
    padding: 0;
    font-weight: 500;
  }
  
  .dropdown-menu {
    background-color: #000000;
    padding: 0;
  }
  
  .dropdown-menu .dropdown-item {
    color: #9ba7b5; /* changed later to have a highlight effect upon hovering */
    border-bottom: 1px solid #000000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .dropdown-menu .last {
    border-bottom: none;
  }
  
  .dropdown-item:focus,
  .dropdown-item:hover {
    color: white; /* added this later for getting the aformentioned effect */
    background-color: #000000;
  }
  
  .text-truncate {
    vertical-align: middle;
    max-width: 62px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .glass {
    height: 20px;
  }
  
  p{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 1rem;
  }
  
  .dropdown .dropdown-toggle {
    color: rgb(255, 255, 255);
  }
  
  .carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }
  
  .prime-logo {
    position: relative;
    bottom: 2px;
  }
  .prime-badge {
    position: absolute;
    top: 0;
    left: 0.25rem;
  }
  
  /* ADDED AFTER THE M2-D4 LESSON */
  a {
    color: #01a3db;
  }
  
  a:hover {
    color: #14b5eb;
  }
  
  footer {
    text-align: center;
  }
  
  footer .footer-logo {
    display: inline-block;
    width: 120px;
    height: 48px;
    background-image: url("../logo/strivevideo.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  footer ul {
    list-style: none;
  }
  footer ul li {
    display: inline-block;
    margin-right: 0.5rem;
  }
  
  footer ul:last-of-type {
    color: rgba(255, 255, 255, 0.45);
  }